<h1>New Project Assignment</h1>
<p>Hello {{userName}},</p>
<p>You have been assigned to a new project titled "<strong>{{projectTitle}}</strong>".</p>
<p>Project Details:</p>
<ul>
  <li>Start Date: {{startDate}}</li>
  <li>Due Date: {{dueDate}}</li>
  <li>Description: {{projectDescription}}</li>
</ul>
<p>Please log in to your account to view more details and get started.</p>
<p>Thank you,<br/>The Project Management Team</p>
